resource apache-site {
 protocol C;
 meta-disk internal;
 device /dev/drbd0;
 disk   /dev/sdb;
 handlers {
  split-brain "/usr/lib/drbd/notify-split-brain.sh root";
 }
 net {
  allow-two-primaries no;
  after-sb-0pri discard-zero-changes;
  after-sb-1pri discard-secondary;
  after-sb-2pri disconnect;
  rr-conflict disconnect;
 }
 disk {
  on-io-error detach;
 }
 syncer {
  verify-alg sha1;
 }
 on web1 {
  address  172.20.200.10:7789;
 }
 on web2 {
  address  172.20.200.20:7789;
 }
}